
@{
    ViewBag.Title = "AdminLogin";
}



<style>
    tr, td {
        border: 0px solid grey;
        height: 50px;
        width: 500px;
        text-align: center;
    }
</style>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="caption">Admin Login</h1>
            <form action="Login" method="post" cellspacing="10px">
                <div class="form-group">
                    <label class="col-form-label">Username</label>

                    <input id="UserName" name="UserName" type="text" class="form-control" placeholder="Name" required="" />
                </div>
                <div class="form-group">
                    <label class="col-form-label">Password</label>

                    <input id="UserPassword" name="UserPassword" class="form-control" type="password" placeholder="Password" required="" />
                </div>
                <div class="right-w3l">
                    <input type="submit" class="form-control" value="Log in">
                </div>
                <div class="sub-w3l">

                </div>
            </form>

        </div>
      
    </div>


</div>






