@{
    ViewBag.Title = "Contact";
}
<br/>
<br/>
<br/>

<h1 class="caption" style="text-align:center;">Contact US</h1>
<hr/>
<div class="container">
    <div class="row">

        <div class="col-md-6">
            <h1 class="caption">CarDekho.com</h1>
            <hr />
            <h2>Toll Free :- 1800-2345-1234</h2>
            <hr />
            <h2>Email-ID:--Cardekho@car.com</h2>
            <hr />
            <h2>Location:--Auckland NewZeland</h2>
            <hr />
        </div>
        <div class="col-md-6">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d817202.3861024495!2d174.30502620606845!3d-36.86170744554708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d47fb5a9ce6fb%3A0x500ef6143a29917!2sAuckland%2C+New+Zealand!5e0!3m2!1sen!2sin!4v1564552885930!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

    </div>


</div>
