
@{
    ViewBag.Title = "Privacy";
}
<style>

    p {
        text-align:justify;
    }
</style>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="caption">Privacy Policy</h1>
            <hr />
            <p>
                Girnar Software Private Limited and its affiliates, subsidiaries & associate companies as mentioned in this Privacy Policy (hereinafter referred individually and/ or collectively as “Girnar”) is/are concerned about the privacy of the data and information of the users accessing, offering, selling or purchasing products or services on any of Girnar websites, mobile sites or mobile applications thereof accessible through various internet enabled smart devices (individually and collectively referred to as “Platform”) or otherwise doing business with Girnar. This Privacy Policy applies to Girnar which includes all its affiliates, subsidiaries & associate companies and help you understand how we collect, use, store, process, transfer, share, and otherwise deal with and protect all your information when you visit any of our Platform and use our products and services or even otherwise visit the Platform.

                THIS PRIVACY POLICY IS AN ELECTRONIC RECORD IN THE FORM OF ELECTRONIC CONTRACT IN TERMS OF INDIAN INFORMATION TECHNOLOGY ACT, 2000 AND RULES MADE THEREUNDER (AS AMENDED FROM TIME TO TIME) AND DOES NOT REQUIRE ANY PHYSICAL SIGNATURE OR SEAL.

                The term “We”/ “Us” / “Our” used in this document refer to Girnar and "You" / "Your" /"Yourself" refer to the users, who visit or access or use (collectively“usage”) Platform.

            </p>
            <br />
            <h1>Terms and Condition</h1>
            <hr />
            <br />

            <h2>Acknowledgment:</h2>
            <br />

            <p>

                PLEASE READ THIS PRIVACY POLICY CAREFULLY. YOU INDICATE THAT YOU UNDERSTAND, AGREE AND CONSENT TO THIS PRIVACY POLICY. HENCE BY VISITING OUR PLATFORM OR BY USING / AVAILING ANY OF OUR SERVICE OR PRODUCT, YOU HEREBY GIVE YOUR UNCONDITIONAL CONSENT OR AGREEMENT TO GIRNAR AS PROVIDED UNDER SECTION 43A AND SECTION 72A OF INDIAN INFORMATION TECHNOLOGY ACT, 2000 FOR COLLECTION, USE, STORAGE, PROCESSING, SHARING AND TRANSFER AND DISCLOSURE OF YOUR INFORMATION.

                YOU ACKNOWLEDGE THAT YOU HAVE ALL LEGAL RIGHTS AND LAWFUL AUTHORITY TO SHARE THE INFORMATION WITH US AND FURTHER ACKNOWLEDGE THAT BY COLLECTING, SHARING, PROCESSING AND TRANSFERRING INFORMATION PROVIDED BY YOU, SHALL NOT CAUSE ANY LOSS OR WRONFUL GAIN TO YOU OR ANY OTHER PERSON.

                IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT ACCESS / USE OUR PLATFORM OR AVAIL ANY OF OUR SERVICE OR PRODUCT ON OUR PLATFORM.

            </p>
            <hr />
            <h2>Topics Covered:</h2>
            <br />
            <hr />
            <p>

                Girnar will be the controller of Your Personal Information provided by You or otherwise collected by Us. Your data controller is responsible for the collection, use, disclosure, retention, and protection of your Personal Information in accordance with its privacy standards as well as any applicable laws.
            </p>

        </div>
        
    </div>
     


</div>

